body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    font-size: 18px;
    background:
    url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;

}
body::before {
    content: "";
    background: inherit;
    position: fixed;
    filter: blur(3px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

h1 {
    margin-top: 10px;
}

h2 {
    margin-top: 25px;
    color: #fff;
    font-weight: 4000;
    font-weight: bold;
    text-align: center;
    font-size: 40px
}

p {
    font-weight:500;
    margin: 20px;
}

a {
    display: inline-block;
    margin: 10px;
    padding: 5px 20px;
    background-color: #ecb553;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"] {
    background-color: #ecb553;
    color: #fff;
    padding: 5px 20px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #fff;
    color: #ecb553;
}

.base-button{
    display: inline-block;
    margin: 10px;
    padding: 5px 20px;
    background-color: #ecb553;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px
}


.header {
    background-color: #ecb553ac;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:50px;
}

.header_text {
    font-weight: normal;
    text-align: left;
    font-size: 30px;
    margin-left: 35px;
}

h1.title {
    color: blue;
    font-size: 24px;
    text-align: center;
    background-color: lightgray;
    margin-top: 20px;
}

.container {
    max-width: 1440px;
    margin: 20px auto;
    padding: 0;
    background: rgba(0, 0, 0, 0.5);
    height: auto;
    border-radius: 5px;
}

.welcome_title {
    padding: 10px;
    align-items: center;
    text-align: center;
}

.welcome_container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap:10px;
    padding: 10px;
    align-items: center;

}

.welcome_container p {
    font-size: 27px;
    color: #fff;
    margin: 10px 10px;
    text-align: center;
}

.welcome-text {
    width: 60%;
}

.welcome-image {
   padding: 10px;
}

.welcome-image img {
    width: 500px;
    border-radius: 10px;
}

.auth_form_container,
.taketest_container {
    width: 450px;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px 20px 20px;
}

.auth_form_container p,
.registr_text p{
    text-align: center;
    font-weight: bold;
    font-size: 20px
}

.sumbit_container {
    display: flex;
    gap: 10px;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
}

.auth_form_container strong,
.registr_container strong{
    font-weight: normal;
}

/*main.html*/

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
}

.main-text-container {
    position: relative;
    align-items:center;
    width: 70%;
}

.main-text-container ul {
    list-style-type: none;
    padding: 0;
}

.main-text-container ul li {
    font-size: 24px;
    margin: 30px 0;
    position: relative;
    padding-left: 30px;
}

.main-text-container ul li::before {
    content: '';
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    background-image: url('/static/galochka.png');
    background-size: cover;
}

.main-text-container h3{
    text-align: center;
    font-size: 36px;
    font-weight:500;
    margin: 20x;
    color: transparent;
    -webkit-text-stroke: 1px #FFFFFF;
}

.main_image_container {
    display: flex;
    align-items:center;
}

.main_test_image, .main_res_image {
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 250px;
}

.main_test_image img, .main_res_image img {
    display: block;
    margin: 0 auto;
    padding: 0;
}

.main_test_image a, .main_res_image a {
    padding: 15px 20px;
    background-color: #fff;
    color: #ecb553;
    font-size: 20px;
    font-weight: bold;
    width: 150px;
    height: 170px;
}

.test-text h1{
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

/*view-results.html*/

.find-result-container{
    background-color: rgba(0, 0, 0, 0.5);
    width: 440px;
    margin: 0px auto;
    padding: 20px;
    border-radius: 5px;
}

.find-result-container .separator-line {
    margin-top: 0px;
    margin-bottom: 10px;
}

.find-result-container h3{
    margin-top: 0px;
}

.separator-line {
    border-top: 3px solid #fff;
    margin: 20px 0 0 0;
}

.result-container h3 {
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

.view-result-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding:0;
}

.view-result-container h3{
    text-align: center;
    margin-bottom: 0;
}

.view-result-container p {
    font-size: 20px;
    color: #fff;
    background-color: #ecb553;
    opacity: 0.8;
    padding: 10px;
    border-radius: 8px;
}

.results-list{
    padding:0;
}

.result-block{
    width:600px;
    list-style: none;
    margin-bottom: 20px;
    border: 2px solid #ecb553;
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    line-height: 1.5;
}

.result-container h1{

    text-align: center;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

/*test_form.html*/

form.custom-form {
    width: 900px;
    margin: 0 auto;
    padding: 20px;
    border: none;
    border-radius: 5px;
    /*background-color: rgba(0, 0, 0, 0.5);*/
}

.result-container .custom-form {
    background-color: rgba(0, 0, 0, 0.5);
}

.question {
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ecb553;

}

.question p {
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
}

.answer, .wrong_answer {
    text-align: left;
    margin-top: 15px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

input[type="radio"] {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    flex-shrink: 0;
}

input[type="radio"]:checked {
    background-color: #ecb553;

}

/*profile.html*/

.profile-container {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    position: relative;
    align-items: center;
    height: 270px;
    margin: 50px auto 0 auto;
    width: 700px;
}

.profile-container h1{
    margin: 10px;
}

.profile-photo {
    width: 150px;
    height: 150px;
}

.profile-photo img{
    background-color: #fff;
    width: 150px;
    height: auto;
    border-radius: 15px;
}

.profile-info {
   flex: 1;
   padding-left: 20px;
}

.change-profile-container {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto 0 auto;
    width: 700px;
}

.change-button-container{
    display: flex;
}

.a-profile {
    width: 175px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


input[type="text"],
input[type="email"],
input[type="password"]
{
    width: 400px;
    padding: 10px ;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 4px;
    box-sizing: border-box;
}

.username-input input[type="text"],
.email-input input[type="email"],
.password-input input[type="password"] {
    width: 190px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 4px;
    box-sizing: border-box;
}

#username-change-form, #password-change-form, #email-change-form{
  display: none;
  width: auto;
}

.username-input,
.email-input,
.password-input{
    padding:0;
    margin:0;
}

.error {
    background-color: #ffcccc;
}

/*admin*/

.admin-container{
display: flex;
 flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
}

.button-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;
    margin: 10px auto;
    width: 500px;
}
.button-grid-container .button {
    width: 200px;
    padding: 10px 10px;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.students-info{
    align-items: center;
}

table {
    border-collapse: collapse;
    border: 2px solid #ddd;
    width: 800px;
}

th, td, tr {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: #000;
    background-color: #f2f2f2;
}

.button-container {
    display: flex;
}

.add-student-form,
.add-question-form {
    margin: 0 auto 20px auto;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.add-student-form h2,
.add-question-form h2{
    margin-bottom: 0;
}

.form-container {
    position: relative;
    width: 1000px;
    height: auto;
    display: flex;
    margin: 0 auto;
    gap: 20px;
    box-sizing: border-box;
    justify-content: space-evenly;
}

/*theme_scores_plot*/

.graph-container {
    margin-top: 20px;
    text-align: center;
}

.graph {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.graph img {
    width: 100%;
    height: auto;
    display: block;
}

.graph-container h1{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

/* ______________________________________________________________________________-______________ */




.welcome-description {
        text-align: center;
        margin-top: 10px;
    margin-left: 20px;
     margin-right: 20px;

    }

    .welcome-description p {
        color: #fff; /* Цвет текста */
        font-size: 25px;

        margin-top: 20px;
        margin-bottom: 20px;
    }


form {
      width: 400px;

    margin: 0 auto;
    /*background-color: #fff;
    background-color: rgba(0, 0, 0, 0.5);*/
    padding: 20px;
    border:  none;
}

label {
    display: block;
    margin-bottom: 10px;
    /*color: #ecb553;
    font-weight: bold;*/
}





 c {
     margin-top: auto;
        color: #fff;
        font-weight: 400;
        text-align: center;

    }
strong {
        font-weight: bold;
    }



    .button-registration
    {
    background: none;
    }

    a:hover {
        background-color: #fff;
        color: #ecb553;
    }


.button button-forget{
    display: inline-block;
    margin-top: 10px;
    padding: 5px 20px;
    background-color: none;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }


button button-forget:hover {
    background-color: #fff;
    color: #ecb553;
}











.title-container {
    flex: 1; /* Занимает доступное пространство */

}






.button {
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

/* Стили для кнопки Зарегистрироваться */
.button-header {
    background: none;
    }

/* Стили для кнопки Войти */
.button-authentication {
    background: none;

}

.button-profile {
    background: none;

}

/* Стили для изменения цвета при наведении */
.button:hover {
    background-color: #fff;
    color: #ecb553;

}

.button button-header{

}










/*этого нет, оно просто button*/
.test_button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    background-color: #ecb553;;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.test_button:hover {
    background-color: #0056b3;
}

.radio-container {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .radio-container input[type="radio"] {
            margin-right: 5px;
        }

/*---------------------------------------------*/



.button {
    margin-bottom: 10px;
}

















.button button-none-result{
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    background-color: #ecb553;;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}







.custom-form {

}

.right-answer-container ul,
.wrong-answer-container ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
}

.right-answer-container li,
.wrong-answer-container li {
    font-size: 18px; /* Задайте желаемый размер шрифта */
    margin-bottom: 20px; /* Добавьте отступ между элементами списка */
    text-align: left;
    line-height: 1.5;
}

.right-answer-container strong, .wrong-answer-container strong {
    display: block;
    margin-bottom: 5px;

    /* Apply the white outline with fully transparent letters */
    color: #ecb553; /* Fully transparent text color */

}

.result-mark-container h2{
    font-size: 20px;
    color: #ecb553;
}







