<!DOCTYPE html>
<html>

<head>
    <title>Авторизация</title>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='style.css' ) }}>
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/256/12145/12145256.png"/>
</head>

<body>

<div class="header">
    <div class="header_text">Система студентов</div>
</div>

<div class="auth_form_container">

<div class="authent_text">
    <p>Добро пожаловать на страницу авторизации</p>
</div><hr>

<form action="/login" method="POST">
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username" value="{{username}}"
           class="{{ 'error' if 'username' in errors else '' }}" required><br>

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" value="{{password}}"
           class="{{ 'error' if 'password' in errors else '' }}" required><br>
    <input type="submit" value="Войти">


</form><hr>
<div class="sumbit_container">
    <strong>Ещё не зарегистрированы?</strong>
    <a href="/registration">Регистрация</a>
</div>

</div>
</body>

</html>
