<!DOCTYPE html>
<html>

<head>
    <title>Вод нового пароля</title>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='style.css') }}>
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/256/12145/12145256.png" />
</head>

<body>
    <div class="title-container">
        <div class="header">
            <h1>Система студентов</h1>
        </div>
    </div>

<!--    <p>Забыли пароль? Не волнуйтесь!-->
    <p>Введите новый пароль</p>

    <form action="/reset_password" method="POST">
       <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" value="{{password}}" required  class="{{ 'error' if 'password' in errors else '' }}"><br><br>

        <input type="submit" value="Войти">
    </form>


</body>

</html>
