<!-- take_test.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='style.css' ) }}>
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/256/12145/12145256.png"/>
    <title>Take Test</title>
</head>
<body>


<div class="header">
    <div class="header_text">Система студентов</div>
    <div class="button-container">
        <a href="/main" class="button button-header">Вернуться на главную</a>
    </div>
</div>

<div class="container">
    <div class="test-text">
        <h1>Тест по теме: {{ theme }}</h1>
    </div>

    <form id="yourFormId" action="/submit_answers" method="post" class="custom-form" onsubmit="return validateForm()">
        {% for question in questions %}
        {% set question = questions[loop.index0] %}
        <div class="question">
            <p>{{ question }}</p>
            <div class="answer">
                {% set answer = answers[loop.index0] %}
                {% if answer is not none %}

                <input type="radio" id="answer{{ loop.index }}" name="answer{{ loop.index }}" value="{{ answer }}"
                       onclick="saveFormValues(); toggleRadio('wrong_answer{{ loop.index }}')">
                <label for="answer{{ loop.index }}">{{ answer }}</label>
                {% endif %}
            </div>
            <div class="wrong_answer">
                {% set wrong_answer = wrong_answers[loop.index0] %}
                {% if wrong_answer is not none %}

                <input type="radio" id="wrong_answer{{ loop.index }}" name="wrong_answer{{ loop.index }}"
                       value="{{ wrong_answer }}" onclick="saveFormValues(); toggleRadio('answer{{ loop.index }}')">
                <label for="wrong_answer{{ loop.index }}">{{ wrong_answer }}</label>
                {% endif %}
            </div>
            <br>
        </div>
        {% endfor %}
        <div class="sumbit_container">
            <input type="submit" value="Отправить ответы">
        </div>
    </form>
</div>

<script>
    function saveFormValues() {
        var form = document.getElementById('yourFormId');
        var formData = {};

        for (var i = 0; i < form.elements.length; i++) {
            var element = form.elements[i];

            if (element.type === 'radio' && element.checked) {
                var questionIndex = element.name.replace('answer', '');

                formData['answer' + questionIndex] = element.value;
            }
        }

        console.log(formData);
    }

    function validateForm() {
        var radioButtons = document.querySelectorAll('input[type="radio"]');

        var questionGroups = [];
        for (var i = 0; i < radioButtons.length; i += 2) {
            var pair = [radioButtons[i], radioButtons[i + 1]];
            questionGroups.push(pair);
        }

        var atLeastOneSelected = questionGroups.every(function (pair) {
            return pair.some(function (radioButton) {
                return radioButton.checked;
            });
        });

        if (!atLeastOneSelected) {
            alert('Пожалуйста, выберите ответ на каждый вопрос!');
            return false;
        }

        var allQuestionsAnswered = questionGroups.every(function (pair) {
            return pair.some(function (radioButton) {
                return radioButton.checked;
            });
        });

        if (!allQuestionsAnswered) {
            alert('Ответьте на все вопросы!');
            return false;
        }

        return true;
    }

    function toggleRadio(radioId) {
        var radio = document.getElementById(radioId);
        if (radio.checked) {
            radio.checked = false;
        }
    }

<!-- - запретить переход обратно-->
<!-- - менять местами правильный и неправильный-->
</script>




</body>
</html>

