<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/256/12145/12145256.png"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <title>Plot Results</title>
</head>

<body>

<div class="header">
    <div class="header_text">Система студентов</div>
    <div class="button-container">
        <a href="/admin" class="button button-header">Вернуться на главную</a>
    </div>
</div>

<div class="graph-container">
    <h1>График средних оценок по темам</h1>
    <div class="graph">
        <img src="data:image/png;base64,{{ image_base64 }}" alt="График средних оценок по темам">
    </div>
</div>

<div class="graph-container">
    <h1>График количества тестов по темам</h1>
    <div class="graph">
        <img src="data:image/png;base64,{{ second_image_base64 }}" alt="График количества тестов по темам">
    </div>
</div>

<div class="graph-container">
    <h2>Процент студентов, прошедших тесты по темам</h2>
    <div class="graph">
        <img src="data:image/png;base64,{{ pie_image_base64 }}" alt="Круговая диаграмма">
    </div>
</div>
</body>
</html>
